In [1]:
import pandas as pd

In [3]:
#read the csv file
df = pd.read_csv('GlobalTemperatures.csv')

In [4]:
#information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   object
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.6+ KB

In [16]:
df.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

Getting the sum of all the values of a column df['column_name'].sum()

In [6]:

df['LandAverageTemperature'].sum()

26631.644999999997

Finding the artithmetic mean of a particular column in the DataFrame: df['column_name'].mean()

In [7]:
df['LandAverageTemperature'].mean()

8.374731132075471

using describe() method to find summary statistics:df['column_name'].describe()

In [17]:
df.describe()

,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
count,3180.000000,3180.000000,1992.000000,1992.000000,1992.000000,1992.000000,1992.000000,1992.000000
mean,8.374731,0.938468,14.350601,0.479782,2.743595,0.431849,15.212566,0.128532
std,4.381310,1.096440,4.309579,0.583203,4.155835,0.445838,1.274093,0.073587
min,-2.080000,0.034000,5.900000,0.044000,-5.407000,0.045000,12.475000,0.042000
25%,4.312000,0.186750,10.212000,0.142000,-1.334500,0.155000,14.047000,0.063000
50%,8.610500,0.392000,14.760000,0.252000,2.949500,0.279000,15.251000,0.122000
75%,12.548250,1.419250,18.451500,0.539000,6.778750,0.458250,16.396250,0.151000
max,19.021000,7.880000,21.320000,4.373000,9.715000,3.498000,17.611000,0.457000

In [15]:
#mean for all columns in dataframe with axis =0
df.mean(axis=0)

C:\Users\tejas\AppData\Local\Temp\ipykernel_1588\2681518468.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean(axis=0)

LandAverageTemperature                        8.374731
LandAverageTemperatureUncertainty             0.938468
LandMaxTemperature                           14.350601
LandMaxTemperatureUncertainty                 0.479782
LandMinTemperature                            2.743595
LandMinTemperatureUncertainty                 0.431849
LandAndOceanAverageTemperature               15.212566
LandAndOceanAverageTemperatureUncertainty     0.128532
dtype: float64

#mean of every single row in dataframe df.mean(axis=1)

In [21]:
df.mean(axis=1)

C:\Users\tejas\AppData\Local\Temp\ipykernel_1588\3676274908.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean(axis=1)

0       3.304000
1       3.392500
2       4.351000
3       5.470500
4       6.822500
          ...
3187    7.807125
3188    7.068250
3189    6.138875
3190    4.764375
3191    3.964875
Length: 3192, dtype: float64

In [22]:
# Summary statistics of the LandAverageTemperature column in the DataFrame with different percentiles
df['LandAverageTemperature'].describe(percentiles=[.10,.30,.65,.8])

count    3180.000000
mean        8.374731
std         4.381310
min        -2.080000
10%         2.563900
30%         4.956700
50%         8.610500
65%        11.228700
80%        13.228400
max        19.021000
Name: LandAverageTemperature, dtype: float64

Counting the number of values in a particular column of the DataFrame: df['col1'].count()

In [23]:
df['LandAverageTemperature'].count()

3180

#find maximum value in a particular column in a dataframe

In [11]:
df['LandAverageTemperature'].max()

19.021

#find minimum value in a particular column in a dataframe

In [12]:
df['LandAverageTemperature'].min()

-2.08

In [13]:
# Median of the LandAverageTemperature column.
df['LandAverageTemperature'].median()

8.610499999999998

In [14]:
# Median of the LandAverageTemperature column.
df['LandAverageTemperature'].median()

8.610499999999998

Finding the mode of a particular column in the DataFrame: df['column_name'].mode()

In [24]:
df['LandAverageTemperature'].mode()

0    13.293
1    13.765
Name: LandAverageTemperature, dtype: float64